.date-text {
    font-size: 1.2em;
    font-weight: bold;
}

.time-text {
    font-size: 3rem;
    font-weight: bold;
}

.blink_me {
    animation: blinker 1s linear infinite;
  }
  
@keyframes blinker {
    50% {
        opacity: 0;
    }
}

.time-grid {
    display: flex;
    justify-content: center;
}

.button {
    border: none;
    color: white;
    text-align: center;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button-in {
    font-size: 1.5em;
    font-weight: bold;
    background-color: white; 
    color: #4CAF50; 
    border: 2px solid #4CAF50;
    border-radius: 12px;
    width: 100%;
    height: 38px;
}

.button-in:hover {
    background-color: #4CAF50;
    color: white;
}

.button-in-gray {
    cursor: default;
    font-size: 1.5em;
    font-weight: bold;
    background-color: rgb(219, 219, 219); 
    color: #ffffff; 
    border: 2px solid rgb(219, 219, 219); 
    border-radius: 12px;
    width: 100%;
    height: 38px;
}

.button-out {
    font-size: 1.5em;
    font-weight: bold;
    background-color: white; 
    color: #008CBA; 
    border: 2px solid #008CBA;
    border-radius: 12px;
    width: 100%;
    height: 38px;
}

.button-out:hover {
    background-color: #008CBA;
    color: white;
}

.button-out-gray {
    cursor: default;
    font-size: 1.5em;
    font-weight: bold;
    background-color: rgb(219, 219, 219); 
    color: #ffffff; 
    border: 2px solid rgb(219, 219, 219); 
    border-radius: 12px;
    width: 100%;
    height: 38px;
}