.card {
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 2rem;
}

.job-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.job-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #5b1a85;
}

.experience-badge {
    background: #0080cb;
    color: white;
    padding: 5px 10px;
    border-radius: 15px;
    font-size: 0.9rem;
    font-weight: bold;
}


.icon-text {
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: bold;
}

.job-description ul {
    padding-left: 20px;
}

.more-detail-button {
    margin-top: 10px;
    padding: 8px 15px;
    border: none;
    border-radius: 20px;
    font-weight: bold;
    color: black;
    background: white;
    cursor: pointer;
    box-shadow: 0px 0px 10px 3px rgba(173, 82, 255, 0.5);
    transition: 0.3s;
}

.more-detail-button:hover {
    box-shadow: 0px 0px 15px 5px rgba(173, 82, 255, 0.8);
}

.hover-selected{
    display: block;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border: none;
    background: #f2f2f2;
}
.hover-selected:hover{
    transform: scale(1.05); /* Slight zoom effect */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Optional shadow for depth */
}